#interlayCanvasRoot {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  padding: 0;
  margin: 0;
  min-height: -webkit-fill-available;
  touch-action: none;
}

.html-shape-container > * {
  margin: 0;
}

.tl-shape[data-shape-type="html"] {
  overflow: hidden;
}

.tldraw__editor {
  overscroll-behavior: none;
  position: fixed;
  inset: 0px;
  overflow: hidden;
}

.tl-background {
  background-color: transparent;
}

.tlui-debug-panel {
  display: none;
}

.hidden {
  display: none;
}

.overflowing {
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: white;
}

@keyframes pulsateShadow {
  0% {
    box-shadow: 0 0 5px 5px rgba(255, 189, 58, 0.2);
  }
  50% {
    box-shadow: 0 0 5px 10px rgba(255, 189, 58, 0.7);
  }
  100% {
    box-shadow: 0 0 5px 5px rgba(255, 189, 58, 0.2);
  }
}

.is-processing {
  animation: pulsateShadow 2s infinite;
}

.html-pin-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pinned {
  position: fixed;
  top: 0;
  left: 0;
}
